titanium.sdk=/Users/flavio.destefano/Library/Application\ Support/Titanium/
titanium.os=osx
titanium.version=5.2.2.GA
android.sdk=/opt/android/

titanium.platform=${titanium.sdk}/mobilesdk/${titanium.os}/${titanium.version}/android
android.platform=${android.sdk}/platforms/android-23
google.apis=${android.sdk}/add-ons/addon_google_apis_google_23