titanium.sdk=/Users/ani.sinanaj/Library/Application\ Support/Titanium/
titanium.os=osx
titanium.version=6.2.0.GA
android.sdk=/Users/ani.sinanaj/Applications/Android/sdk

titanium.platform=${titanium.sdk}/mobilesdk/${titanium.os}/${titanium.version}/android
android.platform=${android.sdk}/platforms/android-25
google.apis=${android.sdk}/add-ons/addon_google_apis_google_25